/*===== General classes =====*/
body {
  padding: 10px 25px;
  background: #151515;
  color: #FFFFFF;
}

h1 {
  font-size: 28pt;
  text-align: center;
  border-bottom: 1px solid #EAEAEA;
  padding-bottom: 10px;;
  margin-bottom: 60px;
}

h2 {
  font-size: 21pt;
  font-weight: 100;
  margin-bottom: 35px;
}

main {
  min-width: 650px;
  width: 55%;
  padding: 5px 20px;
  margin: 0 auto;
}

a {
  float: right;
}

h2 small {
  font-size: 11pt;
  color: #FFFFFF;
}

p {
  font-size: 12pt;
  line-height: 2;
}

img {
  width: 200px;
  display: block;
  margin-bottom: 100px;
}

.rotate {
  transform: rotate(180deg);
}

/*===== deck classes =====*/
.deck-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #000000;
}

.suit-column {
  margin-right: 10px;
}

.card-face {
  width: 200px;
  height: 250px;
  background-color: #FFFFFF;
  margin-bottom: 5px;
  padding: 0;
  border: 2px solid #000000;
  border-radius: 10px;
  position: relative;
}

.red-suit {
  color: red;
}

/*===== Numbers and symbols on card corners =====*/
.corner-elements {
  padding: 0px 5px;
  font-size: 28pt;
}

.card-number {
  font-size: 24pt;
  position: absolute;
  top: 0px;
  left: 8px;
}

.corner-bottom-1 {
  /*Hearts & clubs*/
  position: absolute;
  top: 23px;
  left: 7px;
}

.corner-bottom-2 {
  /*spades & diamonds*/
  position: absolute;
  top: 23px;
  left: 8px;
}

.corner-bottom-3 {
  /*special ones*/
  position: absolute;
  top: 20px;
  left: 9px;
}

.cornerJ {
  position: absolute;
  top: 25px;
  left: 5px;
}

.cornerQ {
  position: absolute;
  top: 27px;
  left: 11px;
}

.cornerK {
  position: absolute;
  top: 25px;
  left: 10px;
}

.corner-bottom-10 {
  position: absolute;
  top: 20px;
  left: 16px;
}

/* @TODO: Figure what this is for */
.bottom-right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/*===== Specific Card Styles =====*/
.special-card {
  /*Faces*/
  text-align: center;
  padding-top: 45px;
  font-size: 85pt;
}

/*     Columns in middle
  x		x		x
      o      <- special top middle case
  x		x		x
  
  o		o		o  <- special middle case

  x		x		x
      o 		<- special bottom middle case
  x		x		x
*/
.slots {
  font-size: 52pt;
}

.col0 {
  position: absolute;
  left: 33px;
}

.col1 {
  position: absolute;
  left: 76px;
}

.col2 {
  position: absolute;
  left: 119px;
}

.row0 {
  top: 10px;
}

.row1 {
  top: 55px;
}

.row2 {
  top: 100px;
}

.row3 {
  top: 145px;
}

.row4 {
  /*special middle case*/
  top: 80px;
}

.row5 {
  /*special top middle case*/
  top: 40px;
}

.row6 {
  /*special top middle case*/
  top: 120px;
}

/*===== Debugging classes =====*/
.border {
  border: 1px solid red;
}
